* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.levels,
.btns,
form {
    margin: 20px;
}

input {
    padding: 5px;
    margin-right: 10px;
}

form button,
.dropdowns button {
    padding: 5px;
    cursor: pointer;
}

.filter-list-item {
    background: lightblue;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0;
}

.filter-list-item .delete {
    font-size: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.filter-list-item .delete:hover {
    color: tomato;
}

select {
    margin-right: 15px;
    padding: 5px;
}

h2 {
    margin-bottom: 10px;
}

small {
    display: block;
    margin-bottom: 5px;
}

.levels div h4 {
    margin-bottom: 10px;
}

.btns button {
    margin: 0 20px 0 0;
    cursor: pointer;
    padding: 5px;
}

.selected {
    background: lightgray;
    min-height: 40px;
    padding: 20px;
}

.unselected {
    padding: 20px;
    background: rgb(237, 216, 216);
    min-height: 40px;
    margin-top: 20px;
}

.param-btn {
    border: 1px solid black;
    padding: 5px;
    margin: 0 20px 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.param-btn:hover {
    background: rgba(0, 0, 0, 0.132);
}
